body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
}

h1 {
    font-size: 36px;
}

/* bõtoes */

#buttons-container button {
    border: 3px solid black;
    background-color: rgb(240, 240, 240);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

/* campo */

#container {
    display: flex;
    width: 280px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    flex: 1 1 33%;
    cursor: pointer;
}

#block-1, #block-2, #block-3{
    border-top:none;
}
#block-1, #block-4, #block-7{
    border-left:none;
}
#block-7, #block-8, #block-9{
    border-bottom: none;
}
#block-3, #block-6, #block-9{
    border-right: none;
} 

/* x e bolinha */

.x{
    font-size: 65px;
    color:rgb(0, 153, 235);
    display: inline-block;
    line-height: 100px;
}

.o{
    width: 45px;
    height: 45px;
    border: 5px solid rgb(255, 200, 0);
    border-radius: 50%;
    display:inline-block;
    margin-top: 20px;
}

/*placar*/
#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.score-box {
    border: 1px dotted black;
    border-radius: 10%;
    margin: 0 30px;
}

#x-scoreboard{
    color:rgb(0, 153, 235);
    margin-right: 4px;
}

#o-scoreboard{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid rgb(255, 200, 0);
    margin-right: 2px;
}

/* popup vitoria */
#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width:  500px;
    font-size: 50px;
    background-color: black;
    padding: 20px;
    color: white;
}

.hide {
    display: none !important;
}